body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.centered {
  text-align: center;
}

hr {
  color: #7d97ad;
  border:none;
  height: 3px;
  background-color: #7d97ad
}

hr.thin {
  color: #7d97ad;
  border:none;
  height: 1px;
  background-color: #7d97ad
}

div.altColor {
  background-color: #dce4eb;
}

div.normalColor {
  background-color: white;
}

.vodCategories {
  font: 13px "Helvetica", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-panel {
  padding: 10px;
  height: 598px;
  width:290px;
  overflow-x: auto;
  overflow-y: auto;
}

div.main-panel-noscroll {
  padding: 10px;
  height: 480px;
}

.movie-strip-wrapper{
  position: absolute;
  top:398px;
  left: 219px;
  width: 620px;
  overflow: auto;
}

.movie-strip {
  width: auto; /*TODO - make auto width*/
  height: 75px;
}

.movie-strip-asset {
  margin-left: 5px;
  width: 100px;
  height: 75px;
  float: left;
}

.movie-strip-preview {
  position: absolute;
  top:380px;
  left: 63px;
  width: 148px;
  height: 111px;
}

.preview-back {
  background-image:url('../images/background.png');
  background-size:843px 480px;
  height:600px;
  background-repeat:no-repeat;
  padding:20px
}
